:root {
    --color-one: #2196F3;
    --color-title: #000000;
    --color-bg: #F5F4FA;
    --color-bgr-business: #2F303A;
    --color-text: #FFFFFF;
    --color-heder-tel: #757575;
    --color-nav: #212121;
    --color-button:#188CE8;
    --color-footer: #2F303A;
    --color-heder-border:#ECECEC;
    --color-portfolio-list:#EEEEEE;

}

body {
    font-family: Roboto, sans-serif;
    color: var(--color-nav);
    background-color: var(--color-text);

}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.logo-left {
    color: var(--color-one);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

 .logo {
    color: var(--color-title);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    margin-right: 90px;
    padding: 24px 0;


} 

ul {
    list-style: none;
}


a {
    text-decoration: none;
}
 .heder-line {
    border-bottom: 1px solid var(--color-heder-border);
 }
.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content:center;
    align-items: center;
    border-color: #757575;
    /* border-style: double; */
     padding-left: 15px;
 padding-right: 15px; 
}
.button-cont {
    display: block;
}
.section {
        margin: 0 auto;
        padding-top: 94px;
        padding-bottom: 94px;
        
}
.nav-list {
    display: flex;
    align-items: baseline;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    
}

.nav-item {
    /* margin-right: 50px; */
    /* margin-left: 0px; */
    
}
.list-comun {
    display: flex;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    
    gap: 30px;
  

}
.list-comun-item {
    margin-left: 30px;
}
.business {
    background-color: var(--color-bgr-business);
    padding-top: 200px;
    padding-bottom: 200px;
}
.business .container {
    display: block;
    width: 696px;
    text-align: center;
}

.business-title {
    color: var(--color-text);
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    /* padding-bottom: 30px; */
    margin-bottom: 30px;
    margin-top: 0px;
}

.hiden-title {
    display: none;
}

.heder-nav-link:hover,
.heder-nav-link:focus,
.heder-tel:focus,
.heder-tel:hover {
    color: var(--color-one);

}
.heder-nav-link.current {
    color: var(--color-one);
}

.heder-nav-link {
    color: var(--color-nav);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    padding: 32px 0;
    margin-right: 50px;
}
.link-nomargin {
    margin-right: 0px;
}

.heder-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--color-heder-tel);
    padding: 32px 0;

}
.button-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 auto
}
.button-portfolio.current {
    background-color: var(--color-one);
    color: var(--color-text);
}
.button-portfolio:hover,
.button-portfolio:focus {
    background-color: var(--color-one);
    color: var(--color-text);

}

.button-portfolio {
    cursor: pointer;
    background-color: var(--color-bg);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    border: 0px;
    border-radius: 4px;
    padding: 6px 22px;
    margin-bottom: 50px;
    

}

.button-service:hover,
.button-service:focus {
    background: var(--color-button)
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px; */
}

.button-service {
    display: block;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    background-color: var(--color-one);
    color: var(--color-text);
    cursor: pointer;
    padding: 10px 32px;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0px;
    border-radius: 4px;
    margin: 0 auto;
}

.advant-list .advant-list-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-nav);
    margin: 0 auto;
    margin-bottom: 10px;
}
.advant-list {
    display: flex;
    margin: 0 auto;
    padding: 0;
    margin: -15px;
    
}
.advant-list-item {
    margin: 15px;
    flex-basis: calc(100% / 4 - 30px);
}
.advant-list .advant-list-description {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--color-heder-tel);
    margin: 0 auto;
}

.team-web {
    background-color: var(--color-bg);
}
.work-section {
    padding-top: 0px;
}
    

.our-work,
.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-mav);
}
.our-work {
    margin: 0 auto;
    margin-bottom: 50px;
}
.our-work-list {
    display: flex;
    padding-left: 0px;
    margin: 0 auto;
    margin: -15px;
}
.owl-item {
    margin: 15px;
flex-basis: calc(100% / 3 - 30px);
}
.our-team-list {
    display: flex;
    padding-left: 0px;
}
.team-img {
    margin: 15px;
    
    background: var(--color-text);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-name {
    margin: 0 auto;
    padding: 30px 0;
}
.name-employee {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--color-mav);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

.employee-job {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-heder-tel);
    margin: 0 auto;
    
}
.our-portfolio {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    /* gap: 30px; */
    margin: 0 auto;
    margin: -15px;

}

.our-portlist {
    margin: 15px;
    flex-basis: calc ((100% - 60px) / 3);
    /* padding-right: 15px; */
    /* gap: 20px; */
}
.portfolio-sub-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-mav);
    
}
.portfolio-sub-title {
    margin: 0 auto;
}
.portfolio-discription {
    margin: 0 auto;
}
.portfolio-discription {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--color-heder-tel);
}
.sub-title {
    text-align: left;
    padding: 20px 22px;
    border-left: 1px solid var(--color-portfolio-list);
    border-bottom: 1px solid var(--color-portfolio-list);
    border-right: 1px solid var(--color-portfolio-list);
}
.footerbox {
    display: block;
    
}
.footer-contact,
.footer-adress,
.logo-footer {
    text-align: left;
    padding-left: 0px;
    
}
.address-footer {
margin-top: 20px;
font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-text);
}
.footer-adress {
    
    margin: 0 auto;
}
.footer-contact {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
}

.footer-web {
    background: var(--color-footer);
    padding-top: 60px;
    padding-bottom: 60px;
}
.logo-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19x;
    letter-spacing: 0.03em;
    color: var(--color-text);

}
.footer-adress {
    
}
.footer-link {
    margin-top: 9px;
}
.footer-tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    /* margin-bottom: 9px; */
}
.footer-tel:hover,
.footer-tel:focus {
    color: var(--color-one);
}